.App {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 3rem;
  margin: 1.5rem;
}

body {
  background-color: #f4f4f3;
}

h1,
h2,
h3 {
  color: #121314;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

h2 {
  font-size: 1.75rem;
  margin: 0;
}

h3 {
  font-size: 0.875rem;
  margin: 0;
}

p {
  font-size: 0.875rem;
  line-height: 22px;
  margin: 0;
  color: #262a2b;
}

a {
  text-decoration: none;
}

.btn {
  background-color: #ffdb58;
  padding: 0.375rem 0.25rem;
  width: max-content;
}

.btn.highlight-on-hover {
  background-color: transparent;
}

.link {
  text-decoration: underline;
  white-space: nowrap;
  color: #121314;
  position: relative;
  font-family: "Libre Franklin Medium";
}

.logo {
  width: 2rem;
}

.highlight {
  background-image: linear-gradient(#ffdd63, #ffdd63);
  background-repeat: no-repeat;
  background-size: 100% 100%; /* width height */
  background-position: 0% 100%;
}

.emphasized {
  color: #121314;
  font-family: "Libre Franklin Medium";
}

@media (min-width: 450px) {
  .App {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: min-content;
    row-gap: 160px;
    column-gap: 48px;
    margin: 1.5rem 0;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 1.125rem;
    line-height: 28px;
    font-family: "Libre Franklin Medium";
  }

  p {
    font-size: 1.125rem;
    line-height: 28px;
  }

  .btn {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 10px; /* width height */
    background-position: 0% 100%;
    padding: 0rem 0.25rem;
    cursor: pointer;
    width: max-content;
    transition: background-size 0.4s cubic-bezier(0.65, 0, 0.35, 1);
  }

  .btn:hover {
    background-size: 100% 100%;
  }

  .btn.yellow {
    background-image: linear-gradient(#ffdb58);
  }

  .btn.highlight-on-hover {
    background-image: linear-gradient(#ffdb58);
    background-size: 100% 0%; /* width height */
  }

  .btn.highlight-on-hover:hover {
    background-size: 100% 100%;
  }
}
