.App {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 1.5rem;
}

h1 {
  font-size: 1.5rem;
  line-height: 32px;
  margin: 0;
}

h2 {
  font-size: 0.875rem;
  font-family: "Libre Franklin SemiBold";
  margin: 0;
}

p {
  font-size: 0.875rem;
  line-height: 22px;
  margin: 0;
}

.link {
  display: flex;
  flex-flow: row;
  column-gap: 4px;
  align-items: center;
}

@media (min-width: 450px) {
  .App {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: min-content;
    row-gap: 160px;
    column-gap: 48px;
    margin: 0;
  }

  h1 {
    font-size: 3rem;
    line-height: 60px;
  }

  h2 {
    font-size: 1.125rem;
  }

  p {
    font-size: 1.125rem;
    line-height: 28px;
  }
}
