.navigation-container {
  display: flex;
  flex-flow: column nowrap;
}

.title {
  margin: 2rem 0;
}

.herosection-container,
.about-container {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 2rem;

  &__subsection {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 2rem;

    .container {
      display: flex;
      flex-flow: column nowrap;
      row-gap: 0.875rem;
    }
  }
}

@media (min-width: 450px) {
  .navigation-container {
    flex-flow: row nowrap;
    column-gap: 1.5rem;
    grid-column: 2 / 12;
    margin: 1rem 0;

    .item {
      padding: 1rem;
      box-shadow:
        rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
  }

  .herosection-container,
  .footersection-container {
    row-gap: 5rem;
    grid-column: 2 / 12;

    .title {
      margin: 0;
      width: 85%;
    }

    &__subsection {
      row-gap: 2rem;
      width: calc(50% - 24px);
    }
  }

  .footersection-container {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 3rem;
    margin-bottom: 1rem;

    .container-socials {
      display: flex;
      flex-flow: row nowrap;
      column-gap: 0.5rem;
    }
  }

  .about-container.full-width {
    grid-column-end: 10;
  }

  .project-container,
  .about-container {
    grid-column: 2 / 6;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 3rem;
    justify-content: center;

    &__content {
      display: flex;
      flex-flow: column nowrap;
      row-gap: 2rem;

      .container {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 1rem;

        .skills {
          display: flex;
          flex-flow: row wrap;
          column-gap: 0.75rem;
        }
      }
    }
  }

  .img {
    img {
      width: 100%;
    }
  }

  .img-container {
    align-items: center;
    margin: 3rem 0;
  }

  .text-container.small-gap {
    row-gap: 1rem;
  }

  .img-container,
  .text-container {
    grid-column: 7 / 12;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 3rem;
    justify-content: center;

    .img {
      width: 100%;
      transition: all 0.2s ease-in;
    }
  }
}
