.navigation-container {
  display: flex;
  flex-flow: column nowrap;
}

.title {
  margin: 2rem 0;
}

.herosection-container {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 2rem;

  &__subsection {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 2rem;

    .container {
      display: flex;
      flex-flow: column nowrap;
      row-gap: 0.875rem;
    }
  }
}

@media (min-width: 450px) {
  .navigation-container {
    flex-flow: row nowrap;
    column-gap: 2rem;
    grid-column-start: 2;
    grid-column-end: 12;

    .item {
      padding: 1rem 0;
    }
  }

  .herosection-container {
    row-gap: 5rem;
    grid-column-start: 2;
    grid-column-end: 12;
    margin-top: 160px;

    .title {
      margin: 0;
      width: 85%;
    }

    &__subsection {
      row-gap: 3rem;
      width: calc(50% - 24px);
    }
  }

  .project-container {
    grid-column-start: 2;
    grid-column-end: 7;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 3rem;
    justify-content: center;

    &__content {
      display: flex;
      flex-flow: column nowrap;
      row-gap: 3rem;

      .container {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 0.75rem;

        .skills {
          display: flex;
          flex-flow: row nowrap;
          column-gap: 1rem;
        }
      }
    }
  }

  .img-bg {
    grid-column-start: 8;
    grid-column-end: 13;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: auto;
    aspect-ratio: 1 / 1;
    background-color: #f38e82;
    padding: 3rem;

    .img {
      width: 100%;
    }
  }
}
