.navigation-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  column-gap: 0.75rem;
}

.herosection-container,
.project-container,
.about-container,
.footersection-container {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 2rem;

  &__subsection {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 2rem;

    .container {
      display: flex;
      flex-flow: column nowrap;
      row-gap: 0.875rem;
    }
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 2rem;

    .container {
      display: flex;
      flex-flow: column nowrap;
      row-gap: 1rem;

      .skills {
        display: flex;
        flex-flow: row wrap;
        column-gap: 0.75rem;
      }
    }

    img {
      width: 100%;
    }
  }

  &__socials {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 0.75rem;
  }
}

.text-container {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 2rem;
}

.text-container.small-gap {
  row-gap: 1rem;
}

.img-container {
  margin-top: -1rem;
  img {
    width: 100%;
  }
}

.img-interests {
  img {
    width: 100%;
  }
}

@media (min-width: 450px) {
  .navigation-container {
    column-gap: 1.5rem;
    justify-content: flex-start;
    grid-column: 2 / 12;

    .item {
      padding: 1rem;
      box-shadow:
        rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
  }

  .herosection-container,
  .footersection-container {
    row-gap: 5rem;
    grid-column: 2 / 12;

    .title {
      margin: 0;
      width: 85%;
    }

    &__subsection {
      row-gap: 2rem;
      width: calc(50% - 24px);
    }
  }

  .footersection-container {
    row-gap: 3rem;
    justify-content: center;
  }

  .about-container.full-width {
    grid-column-end: 10;
  }

  .project-container,
  .about-container {
    grid-column: 2 / 6;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 3rem;
    justify-content: center;

    &__content {
      display: flex;
      flex-flow: column nowrap;
      row-gap: 2rem;

      .container {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 1rem;

        .skills {
          display: flex;
          flex-flow: row wrap;
          column-gap: 0.75rem;
        }
      }
    }
  }

  .img-container,
  .text-container {
    grid-column: 7 / 12;
    row-gap: 3rem;
    justify-content: center;

    .img {
      width: 100%;
      transition: all 0.2s ease-in;
    }
  }

  .text-container.interests-title {
    grid-column: 2 / 12;
  }

  .img-container {
    align-items: center;
    margin: 3rem 0;
  }
}
